body{
    background-attachment: fixed;
}

.p1{
    background-color:rgb(12, 207, 233);
    border-style: double;
    border-color:blue;
    margin-left: 430px;
    margin-right: 430px;
    
}

.p2{

}

.p3{
    margin-left: 230px;
    margin-right: 230px;
    border: 3px solid white;
}

.p4{
    margin-left: 550px;
    margin-right: 550px;
    border: 3px solid rgb(19, 199, 139);
}

.p5{
    margin-left: 550px;
    margin-right: 550px;
    border: 3px solid yellow;
}

.audio{

    font-size:50px; text-align:center; color:aliceblue;
    background-color: rgb(0, 0, 0);
    border: 3px solid white;
    margin-left: 430px;
    margin-right: 430px;

}
    
a{
    color: red;
    text-decoration: none;
    background-color: rgb(1, 173, 24);
    font-size: 50px;
    margin: 550px;
}
a:hover{
    color:aliceblue;
    background-color:rgb(0, 0, 3);
}

.div1{
    margin-left: 500px;
}