body{
    background-attachment: fixed;
}

.p1{
    background-color:rgb(12, 207, 233);
    border-style: double;
    border-color:blue;
    margin-left: 430px;
    margin-right: 430px;
  
    
}

.p2{
    

}

.p3{
    margin-left: 230px;
    margin-right: 230px;
    border: 3px solid white;
    
   
}

.p4{
    margin-left: 550px;
    margin-right: 550px;
    border: 3px solid rgb(19, 199, 139);
    max-width: 400px;
}

.p5{
    margin-left: 550px;
    margin-right: 550px;
    border: 3px solid yellow;
    max-width: 400px;
}

.audio{

    font-size:50px; text-align:center; color:aliceblue;
    background-color: rgb(0, 0, 0);
    border: 3px solid white;
    margin-left: 430px;
    margin-right: 430px;
    max-width: 400px;

}
    
a{
    color: red;
    text-decoration: none;
    background-color: rgb(1, 173, 24);
    font-size: 50px;
    margin: 550px;
}
a:hover{
    color:aliceblue;
    background-color:rgb(0, 0, 3);
}
a:active{
    color: black;
    background-color: aliceblue;
}

.div1{
    margin-left: 500px;
}

.pic1{
    margin: auto;
}
.pic2{
    margin: auto;
}
.t1{
    background-color: black;
}
.divp1{
    background-color: blue;
    border:3px solid red;
    color: beige;
    font-size: 50px;
    text-align: center;
    
}



.divp2{
    border:3px solid green;
    
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    max-height: 400px;
    background-color: darkslategrey;
    
    overflow: auto;
}

